/**
 * 
 * COPYRIGHT 2015 - ALBIN HUBSCH
 * 
 */

$theme-color: #659EFF;

.text-center{
	text-align: center;
}

.rm-mp{
	margin: 0;
	padding: 0;
}

.short-hr{
	width: 60px;
	height: 4px;
	border: none;
	background: #ddd;
	// background: $theme-color;
	margin: 0;
}

a{
	color: #555;
	text-decoration: underline;

	img{
		margin-top: -3px;
	}
}

a:hover{
	color: $theme-color;
}

body{
	background: #666;
	font-family: 'Lato', sans-serif;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 24px;
	color: #555;

	h1{
		font-weight: 700;
		font-size: 24px;
	}
}

header{
	position: fixed;
	height: 100px;
	width: 100%;
	top: 0;
	z-index: -1;
	background: url('../images/bg.jpg') no-repeat;
	// background-attachment: fixed;
	background-position: 66% 10%;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	padding-top: 30px;

	a{
		text-decoration: none;
		display: inline-block;
	}

	a:hover{
		text-decoration: none;
		opacity: 0.7;

		h1{
			opacity: 0.7;
		}
	}

	h1{
		color: white;
	}
}

section{
	background: #fff;
}

#main-nav{
	background: #fff;
	display: block;
	height: 100px;
	width: 100%;
	z-index: 100;
	padding: 26px 0px;

	nav{
		margin: 0;
		padding: 0;
	}

	.iconbox-link{
		background: $theme-color;
		padding: 10px;
		border: 1px solid #fff;
		display: inline-block;
		border-radius: 4px;
		margin: 0;
		margin-right: 8px;

		-webkit-transition: all 0.18s ease-in-out;
		-moz-transition: all 0.18s ease-in-out;
		-ms-transition: all 0.18s ease-in-out;
		-o-transition: all 0.18s ease-in-out;
		transition: all 0.18s ease-in-out;

		img{
			background: $theme-color;
			height: 100%;
		}
	}

	.iconbox-link:hover{
		opacity: 0.8;
		border: 1px solid $theme-color;

		-webkit-transition: all 0.18s ease-in-out;
		-moz-transition: all 0.18s ease-in-out;
		-ms-transition: all 0.18s ease-in-out;
		-o-transition: all 0.18s ease-in-out;
		transition: all 0.18s ease-in-out;
	}
}

#my-work{
	background: #e8e8e8;
	padding: 100px 0px;

	.my-work-canvas{
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.work-object{
		margin-bottom: 30px;

		a{

			img{
				border-radius: 4px;
				width: 100%;
				background: #D8D8D8;
				box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);

				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
		}

		a:hover{

			img{
				opacity: 0.8;
				box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.46);

				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-ms-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
			}
		}
	}
}

#about-me{
	background: #fff;
	padding: 100px 0px;
}

footer{
	padding: 4px 0px;
	background: #12292A;
	color: #666;
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	
	#my-work, #about-me{
		padding: 60px 0px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}